page-intro {
    .slide_img img{
        width: 70%;
        margin-top: -25%!important;
    }
    #comecar{
        width: 100px!important;
        background-color: skyblue; 
        border-radius: 10px;
        height: 50px!important;
        color: white;
    }
}
